* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: rgb(235, 221, 226);
}

/* ACÁ EMPIEZA EL MENÚ */
.header {
    background-color: rgb(248, 220, 167);
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px rgb(44,44,44) ;
    z-index: 100;
}

.nav {
    padding-top: 10px;
    height: 40px;
    width: 500px;
    margin: auto;
}

.contenedorList {
    float: right;
}

.itemMenu {
    list-style: none;
    float: left;
    margin: 0 20px;
}

.linkMenu {
    display: block;
    border: 1px solid rgb(3, 99, 51);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(32, 32, 29);
}

.linkMenu:hover {
    color: white;
    background-color: rgb(173, 192, 3);
}

/* ACÁ EMPIEZA EL MAIN */
.main{
    max-width: 1200px;
    width: 1200px;
    margin: auto;
    height: 2000px;

}

.section{
    width: 60%;
    float: left;
}
.title {
    text-align: center;
    margin: 80px 0 40px;
    color: rgb(148, 79, 0);
    font-size: 3rem;
}

.imgDesarrollador {
    display: block;
    width: 70%;
    margin: auto;
   
}

.descripcion {
    
    margin: 0 100px;
    margin-top: 40px;
}
.aside{
    width: 25%;
    float: right;
    background-color: #ffb7a7;
    margin-top: 130px;
    border-radius: 20px;
    padding: 70px 20px;
    box-shadow: 0 2px 10px #6b3737;
    position: sticky;
    top: 90px;
    right: 50px;
    margin-bottom: 40px;

}
.imgPublicidad:hover{
    box-shadow: 0 0 8px black;
   transform: scale(1.5);
   transition: all ls ease-in-out;
}

.imgPublicidad{
    width: 100%;
    margin-bottom: 10px;
    transition: all ls ease-in-out;
}

.fistSmall{
    display: block;
    margin-bottom: 50px;
}
.table{
    margin: 30px auto;
    border: 1px solid rgb(138, 101, 22);
    border-collapse: collapse;
    width: 75%;
}

.table th,
.table td {
    border: 1px solid rgb(138, 101, 22);
    padding: 10px;
    text-align: center;
}
.boldLetter{
    font-weight: bold;
}

.table tr:hover{
    background-color: #ff8772;
}

/* ACA EMPIEZA EL FOOTER*/

.footer {
    background-color: rgb(138, 100, 72);
    padding: 20px 0 50px;
}

.contColsFooter{
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
}
.contactTitle {
    text-align: center;
    color: wheat;
    font-size: 1.8rem;
    font-weight: 300;
}

.colsFooter {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.colsFooter a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.colsFooter p {
    font-weight: 300;
}

.colsFooter a,
.colsFooter p {
    color: white;
    text-align: center;
}

.colsFooter a:hover {
    color: wheat;

}




